.main-footer {
    display: flex;
    justify-content: center;
    background-color: #001A23;
}
.main-footer .action {
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 20px;
    padding-left: 20px;
}

.main-footer .footer .infos{
    display: flex;
    flex-direction: column;
}

.main-footer p {
    display: flex;
    color: #fff;
    margin: 0 auto 5 auto;
    justify-content: center;
}