.main-subtitle {
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    color: #E8F1F2;
    text-shadow: 4px 4px 0px #001A23; 
}

.main-subtitle.-second {
    color: #000;
    text-shadow: none;
    text-align: center;
    margin-top: 160px;
}
