.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 30px;
    width: 20vw;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #31493C;
}