@media (max-width: 900px) {
    
    #wrapper {
        display: none;
    }
    .main-banner .main-box {
        display: none;
    }

    .navigation {
        display: none;
    }

    .main-banner {
        padding: 15px 33vw 15px 15px;
    }
}
@media (max-width:620px){
    .main-title.-second {
        font-size: 10px;
    }
}

@media (max-width:500px) {

    .main-action {
        font-size: 3vw;
    }

    .main-title-1 {
        font-size: 20px;
    }

    .main-subtitle-1 {
        font-size: 15px;
    }

    .wrapper-card {
        display: inline-block;
    }
}

@media (max-width:360px) {

    .main-title-1 {
        font-size: 15px;
    }

    .main-subtitle-1 {
        font-size: 12px;
    }
}