.main-description {
    margin-left: 80px;
    margin-right: 80px;
    color: #E8F1F2;
    text-align: justify;
    font-family: "Fira Code";
    font-size: 30px;
    font-weight: 300;
    height: 550px;
    overflow: auto;
    padding-right: 15px;
}