.main-button {
    display: inline-block;
    background-color: #7A9E7E;
    box-shadow: 5px 5px 0px 0px #001A23;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 140ms cubic-bezier(.5,-0.1,.85,3.27);
    font-size: 20px;
    color: #E8F1F2;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.04);
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.01)
}