.section {
    background-color: #7A9E7E;
    height: 740px; 
    padding-top: 50px;
    padding-bottom: 100;
    border-bottom: 10px solid #31493C;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgBlack {
    background-color:#001A23;
}

.section.-bdFirst {
    border-color: #7A9E7E;
}